*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    height: 40px;
    outline: none;   
}
button{
    height: 40px;
    width: 60px;
    outline: none;
}

.common{
    margin: 40px 6rem;
}

body{
    transition: .6s;
}